.wrapper-history {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left-history {
  left: 0;
  /* From https://css.glass */
  background: rgba(239, 239, 239, 0.18);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.8px);
  -webkit-backdrop-filter: blur(8.8px);
}

.calc-history {
  padding: 50px;
}

.record {
  font-size: 2em;
  margin-left: 50px;
  color: white;
}

.heading-history {
  font-size: 2em;
  text-align: center;
  color: white;
}

.history-records {
  margin-top: 80px;
  list-style-type: none;
  height: 287px; /* Set the desired height */
  overflow-y: auto; /* Enable vertical scrolling */
}

.indexing {
  font-size: 1.2em;
  font-weight: 700;
}

.wrapper-history {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.wrapper-history.visible {
  opacity: 1;
  visibility: visible;
}

.clear-history-btn {
  margin-top: 50px;
  height: 80px;
  width: auto;
  font-size: 1.5em;
  padding: 25px;
  border-radius: 15px;
  font-weight: 600;
  color: white;
  /* From https://css.glass */
  background: rgba(0, 0, 0, 0.24);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15.1px);
  -webkit-backdrop-filter: blur(15.1px);
  border: 1px solid rgba(0, 0, 0, 0.99);
}

.no-records {
    color: white;
    font-size: 1.4em;
    text-align: center;
    margin-top: 20%;
}
